.container {
    display: flex;
    height: 500px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
}
.contactHeading {
    text-decoration: underline;
    font-size: 2rem;
    margin-left: 5px;
}
.container form {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 300px;
    justify-content: space-between;
}
.container form > input {
    font-size: 1rem;
}
.container form input[type="submit"] {
    background: white;
    color: black;
    font-size: 1rem;
    border: 1px solid black;
    transition: all 0.5s;
    padding: 8px 16px;
    border-radius: 5px;
    width: 150px;
    align-self: center;
}
.container form input[type="submit"]:hover {
    cursor: pointer;
    background: black;
    color: white;
}
@media only screen and (max-width: 740px) {
    .container form {
        width: 70vw;
    }
}