.container {
    display: flex;
    min-height: 500px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    width: 100%;
}
.projectContainer {
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: space-evenly;
}